### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

### Homework writeup: Three observations of the data
* 1. This game is played by mostly self-indentified males, accounting for 84% of players. 
* 2. Most of the players are 20-24 years old, making up 44.79% with data skewed like a bell curve with the youngest and highest age groups at the lowest value ends. 
* 3. The purchasing analysis corresponds to the age group data in that, unsurpirsingly, 20-24 year olds make the most purchases with the lower purchaing matching to the smaller sized age groups.

## Player Count

* Display the total number of players

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

total_players = len(purchase_data["SN"].value_counts())
# format to include title
total_players = pd.DataFrame({"Total Players": [total_players]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_info = len((purchase_data["Item ID"]).unique())
#unique_info - test
avg_price = (purchase_data ["Price"]).mean()
#avg_price - test
num_purchases = (purchase_data ["Item Name"]).count()
#num_purchases - test
total_rev = (purchase_data ["Price"]).sum()
#total_rev - test
summary_data = pd.DataFrame({ "Number of Unique Items": [unique_info],
                            "Average Price": [avg_price],
                            "Number of Purchases": [num_purchases],
                            "Total Revenue": [total_rev]})

summary_data.style.format({"Average Price":"${:,.2f}",
                         "Total Revenue": "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
male_count = len((purchase_data[purchase_data["Gender"] == "Male"]["SN"]).unique())
# male_count - test print code - count males
female_count = len((purchase_data[purchase_data["Gender"] == "Female"]["SN"]).unique())
# female_count - test print code - counts females
other_count = len((purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["SN"]).unique())
# other_count - test print code - count other

# find percentages 
total_count = male_count + female_count + other_count
male_percent = (male_count/total_count) * 100 
female_percent = (female_count/total_count) * 100
other_percent = (other_count/total_count) * 100

gender_summary = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                                "Total Count": [male_count, female_count, other_count],
                                "Percentage of Players:": [male_percent, female_percent, other_percent]})

# Not sure why percentage isn't working
gender_summary.style.format({"Percentage of Players":"{:,.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Purchase count
male_purchases = purchase_data[purchase_data["Gender"] == "Male"]["Price"].count()
# test print code male_purchases
female_purchases = purchase_data[purchase_data["Gender"] == "Female"]["Price"].count()
other_purchases = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["Price"].count()

# Average purchase price
male_average = purchase_data[purchase_data["Gender"] == "Male"]["Price"].mean()
# test print code male_average
female_average = purchase_data[purchase_data["Gender"] == "Female"]["Price"].mean()
other_average = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["Price"].mean()

# Purchase total by gender
male_total = purchase_data[purchase_data["Gender"] == "Male"]["Price"].sum()
# test print code male_total
female_total = purchase_data[purchase_data["Gender"] == "Female"]["Price"].sum()
other_total = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["Price"].sum()

# Purchase per person by gender
male_per_total = male_total/ male_count
# test print code male_per_total
female_per_total = female_total / female_count
other_per_total = other_total / other_count

gender_purch_summary= pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                                    "Purchase Count": [male_purchases, female_purchases, other_purchases],
                                    "Average Purchase Price": [male_average, female_average, other_average],
                                    "Total Purchase Value": [male_total, female_total, other_total], 
                                    "Avg Tot Purch per Pers": [male_per_total, female_per_total, other_per_total]})

gender_purch_summary.style.format({"Average Purchase Price": "${:,.2f}", 
                                   "Total Purchase Value": "${:.2f}", 
                                   "Avg Tot Purch per Pers": "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# create bins and labels
age_bins =  [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99.99]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=age_labels)

age_group = purchase_data.groupby("Age Group")
# verify that age_group.head() works

total_count_age = age_group["SN"].nunique()
percent_age = (total_count_age/total_count) * 100
# test percent_age code print

age_summary = pd.DataFrame({"Total Count": total_count_age,
                            "Percentage of Players": percent_age})

age_summary.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# create bins and labels
age_bins =  [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99.99]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=age_labels)

age_group = purchase_data.groupby("Age Group")

purchase_count_age = age_group["Purchase ID"].count()
average_purchase_age = age_group["Price"].mean()
total_purchase = age_group["Price"].sum()
avg_total = (average_purchase_age / total_purchase) *100 

age_summary = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": average_purchase_age,
                                 "Total Purchase Value":total_purchase,
                                 "Average Purchase Total per Person": avg_total})

age_summary.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
spenders_list = purchase_data.groupby("SN")
# test grouping list spenders_list.head()

# find the count of spenders, average, and total
spender_purchases = spenders_list["Purchase ID"].count()
average_spender = spenders_list["Price"].mean()
total_spender_purch = spenders_list["Price"].sum()

spenders_summary = pd.DataFrame({"Purchase Count": spender_purchases,
                                "Average Purchase Price": average_spender,
                                "Total Purchase Value":total_spender_purch})

top_spenders = spenders_summary.sort_values(["Total Purchase Value"], ascending=False).head()

top_spenders.style.format({"Average Purchase Price":"${:,.2f}", 
                            "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
items = purchase_data[["Item ID", "Item Name", "Price"]]

item_group = items.groupby(["Item ID","Item Name"])
# print to check groups work - item_group.head()

item_purch_count = item_group["Price"].count()
total_value = item_group["Price"].sum()
item_price = total_value / item_purch_count
# print item_price to check numbers are correct

item_summary = pd.DataFrame({"Purchase Count": item_purch_count, 
                            "Item Price": item_price,
                            "Total Purchase Value": total_value})

most_pop_format = item_summary.sort_values(["Purchase Count"], ascending=False).head()

most_pop_format.style.format({"Item Price":"${:,.2f}",
                        "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
items = purchase_data[["Item ID", "Item Name", "Price"]]

item_group = items.groupby(["Item ID","Item Name"])
# print to check groups work - item_group.head()

item_purch_count = item_group["Price"].count()
total_value = item_group["Price"].sum()
item_price = total_value / item_purch_count
# print item_price to check numbers are correct

profit_item_summary = pd.DataFrame({"Purchase Count": item_purch_count, 
                            "Item Price": item_price,
                            "Total Purchase Value": total_value})

most_profit_format = profit_item_summary.sort_values(["Total Purchase Value"], ascending=False).head()

most_profit_format.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})